:root{
  --colorPrimary: #199EC7;
  --colorAccent: #40BC86;
  --colorSecond: #EC555C;
  --colorSecondAccent: #FCB410;
  --colorBody: #fff;
  --colorTextPrimary:  #fff;
  --colorTextSecond: #0000;
  --grayLight: #F5F5F5;
}


body{
  background: var(--colorBody);
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.hidden {
  display: none;
}

.active {
    box-shadow: inset 3px 9px 0px -5px #40BC86;
    background: #fafafa !important;
    color: #424243 !important;
    font-weight: bold;
}

.container {
  width: 50%;
  margin:20px auto;
  background-color: #fff;
}

nav {
  /*background: var(--colorAccent);*/
  background-color: transparent;
  box-sizing: border-box;

}

ul.tabContainer {
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1px;

  /*border-bottom: 5px solid var(--colorAccent);*/
}



li.tabItem {
    cursor: pointer;
    color: var(--colorTextPrimary);
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--colorAccent);
    width: 10%;
    margin: 0 .5% 0 .5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;


}
.tabForm, .tabContentContainer{
    width: 50%;
    margin: 0px auto;
    padding: 10px;
}

.tabForm h3, .tabContentContainer h3 {
  text-align: left;
  color:#424242;
  margin:0;
  text-transform: uppercase;

}

#tabContent{
    text-align: center;
    background-color: var(--grayLight);
    top: 47px;
    height: 300px;
   
}

.input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--colorAccent);
    margin: 10px 0;
    display: block;
    text-indent: 10px;
}

.appendTabForm {
  width: 100%;
}
.appendTabForm button {
    display: block;
    color: #fff;
    height: 40px;
    background-color: #40BC86;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.tabContentContainer p {
  text-align: left;
}

