:root{
  --colorPrimary: #199EC7;
  --colorAccent: #40BC86;
  --colorSecond: #EC555C;
  --colorSecondAccent: #FCB410;
  --colorBody: #fff;
  --colorTextPrimary:  #fff;
  --colorTextSecond: #0000;
}


body{
  background: var(--colorBody);
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

ul{
  background:
}


nav {
  background: var(--colorAccent);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-bottom: 5px solid var(--colorAccent);
  background-color: var(--colorPrimary);
}

li:hover{
  background: var(--colorAccent);
  color: var(--colorTextPrimary);
}

li {
  cursor: pointer;
  color: var(--colorTextPrimary);
  height: 30px;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}
.tabForm{
}

#tabContent{
  color: var(--colorTextPrimary);
  text-align: center;
  border-radius: 30px;
  margin-top: 10%;
  background: var(--colorSecond);
  width: 80%;
  margin-left: 10%;
  -webkit-box-shadow: 1px 11px 56px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 1px 11px 56px 0px rgba(0,0,0,0.29);
  box-shadow: 1px 11px 56px 0px rgba(0,0,0,0.29);
}

input{
  font-size: 20px;
  height: 50px;
  width: 50%;
}

button{
  color: var(--colorTextPrimary);x|
  background: var(--colorSecond);
  height: 50px;
  width: 300px;
}

.contentTitle{
  font-size: 40px;
}

.contentParagraph{
  text-align: justify;
  width: 70%;
  margin-left: 15%;
}
